body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: block;   
    max-width: 750px;
    padding: 10px 10px 40px;
    border: 2px solid none;
    position: relative;
    background: linear-gradient(90deg, #faf0cd, #fab397);
    border-radius: 20px;
}

h2 {
    text-align: center;
    font-size: 30px;
}
 
label {
    width: 100%;
    height: 47px;
    margin-bottom: 20px;
    position: relative;
    display: block;
    border-bottom: 1px solid #0277bd
}

input {
    width: 100%;
    height: 20px;
    background: transparent;
    font-family: inherit;
    color: #000;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 15px 0 10px;
}

.bar { 
    position: relative;
    display: block; 
    width: 750px; 
}


.bar:before, 
.bar:after {
    content: '';
    height: 2px; 
    width: 0;
    position: absolute;
    bottom: -5px;
    background: #5264AE; 
    transition: 0.2s ease all; 
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%; 
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

.password-image,
.password-image-accept {
    position: absolute;
    left: 720px;
}

.password-image img,
.password-image-accept img {
    width: 20px;
    height: 20px;
}

.password-image img:hover,
.password-image-accept img:hover{
    cursor: pointer;
}

.link-btn {
    color: dodgerblue;
    text-decoration: none;
    position: absolute;
    left: 10px;
    bottom: 30px;
}

.link-btn:hover {
    text-decoration: underline;
    color: blue;
}

.login-btn {
    background-color: #0277bd;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    padding: 6px 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: 0.2s;
    box-shadow: 0 5px 0 #0d47a1;
    cursor: pointer;
}

.login-btn:hover {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #0d47a1;
}

.success {
    position: absolute;
    bottom: -15px;
    color: rgb(6, 177, 20);
    font-size: 12px;
}


